version: '2'
volumes:
  ibmmq:
    driver: local
  oracle-data:
  oracle-backup:

services:
#  ibmmq:
#      image: 'docker.io/ibmcom/mq'
#      environment:
#        - LICENSE=accept
#        - MQ_QMGR_NAME=QM1
#      ports:
#        - '1414:1414'
#        - '9443:9443'
#      volumes:
#        - ibmmq:/data/ibmmq
#      container_name: ibmmq

  redis:
    image: redis:latest
    container_name: redis-server
    ports:
      - '6379:6379'
#
  activemq:
    image: 'rmohr/activemq'
    ports:
      - '61616:61616'
      - '8161:8161'
    container_name: activemq

#  mongoDb:
#    image: 'mongo:latest'
#    ports:
#      - '27017:27017'
#    environment:
#      MONGO_INITDB_ROOT_USERNAME: root
#      MONGO_INITDB_ROOT_PASSWORD: 123456
#    container_name: mongoDb
#
#  oracle:
#    image: 'oraclelinux:9'
#    container_name: oracleDb
##    image: container-registry.oracle.com/database/enterprise:latest
#    ports:
#      - "1521:1521"
#    environment:
#      ORACLE_SID: ORCLCDB
#      ORACLE_PDB: ORCLPDB1
#      ORACLE_PWD: 123456
#      MONGO_INITDB_ROOT_PASSWORD: 123456
#    volumes:
#      - oracle-data:/opt/oracle/oradata
#      - oracle-backup:/opt/oracle/backup

#  mssql:
#    image: mcr.microsoft.com/mssql/server:latest
#    container_name: mssql
#    hostname: mssql
#    restart: always
#    environment:
#      SA_PASSWORD: A!123456
#      ACCEPT_EULA: Y
##    volumes:
##      - mssqlvolume:/var/opt/mssql/data # thư mục lưu DB
##      - ./bk:/var/opt/mssql/backup      # thư  mục chứa file backup
#    ports:
#      - '1433:1433'

#  mariadb:
#    image: mariadb
#    environment:
#      MYSQL_ROOT_PASSWORD: 123456
#      MYSQL_DATABASE: sakila
#      MYSQL_USER: admin
#      MYSQL_PASSWORD: 123456
#    restart: on-failure
#    ports:
#      - "3308:3306"
##    command: ['--lower_case_table_names=1']
#    command: ['mysqld', '--character-set-server=utf8mb4', '--collation-server=utf8mb4_unicode_ci', '--lower_case_table_names=1']

#  mariadb-slave:
#    image: mariadb
#    environment:
#      MYSQL_ROOT_PASSWORD: 123456
#      MYSQL_DATABASE: sakila
#      MYSQL_USER: admin
#      MYSQL_PASSWORD: 123456
#    restart: on-failure
#    ports:
#      - "3309:3306"
#    command: ['mysqld', '--character-set-server=utf8mb4', '--collation-server=utf8mb4_unicode_ci', '--lower_case_table_names=1']

#services:
#  grpc-service:
#    build:
#      context: grpc
#      dockerfile: Dockerfile
#    container_name: grpc-service
#    image: sacom-grpc:latest
#    ports:
#      - "9000:9000"

#  orchestrator-service:
#    build:
#      context: orchestrator-service
#      dockerfile: Dockerfile
#    container_name: orchestrator-service
#    image: sacom-orchestrator:latest
#    ports:
#      - "9000:9000"

#  receiver-service:
#    build:
#      context: receiver-service
#      dockerfile: Dockerfile
#    container_name: receiver-service
#    image: sacom-receiver-service:latest
#    ports:
#      - "9002:9002"

#  sender-service:
#    build:
#      context: sender-service
#      dockerfile: Dockerfile
#    container_name: sender-service
#    image: sacom-sender:latest
#    ports:
#      - "9001:9001"

#  orches-service:
#    build:
#      context: orches-service
#      dockerfile: Dockerfile
#    container_name: orches-service
#    image: sacom-orches-service:latest
#    ports:
#      - "9292:9292"